---
import twitter from "../svgs/twitter.svg";
import github from "../svgs/github.svg";
import stackoverflow from "../svgs/stack-overflow.svg";
import twitch from "../svgs/twitch.svg";

const classNames = (...classes: string[]) => classes.join(" ");

const path = Astro.url.pathname;
const isBlogPost = path.includes("/blog") && path !== "/blog";
const isResume = path.includes("/resume");

const ICONS = [
  { style: "twitter", src: twitter, link: "https://twitter.com/codeyams" },
  { style: "github", src: github, link: "https://github.com/megancooper" },
  {
    style: "stackoverflow",
    src: stackoverflow,
    link: "https://stackoverflow.com/users/5965537/megan",
  },
  { style: "twitch", src: twitch, link: "https://www.twitch.tv/codeyams" },
];
---

<footer
  class:list={[
    "flex items-center rounded-md justify-end pr-4 mt-8 sm:fixed w-full bottom-4",
    {
      "blog-post": isBlogPost,
      hidden: isResume,
    },
  ]}
>
  {
    ICONS.map(({ style, src, link }) => {
      return (
        <a
          href={link}
          target="_blank"
          class={classNames(
            "cursor-pointer rounded hover:bg-gray-800 p-2 svg-default",
            style
          )}
        >
          <img
            src={(src as any).src}
            alt={style}
            class="w-10 h-10 lg:w-8 lg:h-8"
          />
        </a>
      );
    })
  }
</footer>
